@model Dental.Models.RozpoznanieModel

<div id="box">
    <br />
 Rozpoznanie:
@Html.DropDownListFor(model => model.Rozpoznanie, Model.ListRozpoznanie, "-Wybierz-", new { @class = "form-control" })
<br />

<div class="row" style="background-color:beige">
    <br />
    <div class="col-md-3">
        Dodaj rozpoznanie:
       @Html.TextBoxFor(m => m.Dodaj, new { @class = "form-control", @style = "width:200px" })
    </div>
    <div class="col-md-3">
        
    </div>
    <div class="col-md-3">
        <br />
        <br />
        <input type="button" class="button" value="Dodaj" onclick="Dodaj()" />
    </div>
    
</div>
</div>
<script>
    function Dodaj() {
        var dane = $("#Dodaj").val();
        $.ajax({
            type: 'POST',
            url: '/Lekarz/DodajRozpoznanie',
            data: { dane: dane },
            success: function (data) {
                $('#box').html(data);
            }
        })
    }
</script>
