
@{
    ViewBag.Title = "Wizyta";
    Layout = "~/Views/Shared/MenuAdmin.cshtml";
}
<div id="container">

    <h4>Lista pacjentów w dniu: @DateTime.Now.Date.ToString("dd.MM.yyyy").</h4>
<div style="color:red">
    @TempData["Zapisano"]
</div>
<div style="float:right">
    <input type="button" class="button" value="Nowa wizyta" onclick="SzybkaWizyta()" style="background-color:dodgerblue"/><br />
               <br />
</div>
<div id="listaGabinetow">
     @Html.Action("ListaWizyt")
</div>
</div>
<script>
    $(document).ready(function () {
        setInterval(function () {
            $.ajax({
                    type: 'POST',
                    url: '/Admin/ListaWizyt',
                    data: '',
                    success: function (data) {
                        $('#listaGabinetow').html(data);
                    }
                })
        }, 500)
    })
    function SzybkaWizyta() {
        $.ajax({
            type: 'GET',
            url: '/Admin/SzybkaWizyta',
            success: function (data) {
                $('#container').html(data);
            }
        });
    }
</script>

