@model Dental.Models.PlacowkiModel
@{
   
    Layout = "~/Views/Shared/MenuPacjent.cshtml";
}

<div>
    @Html.Label("Gabinety:")<br />             
                @Html.DropDownListFor(model => model.Placowki, Model.ListaPlacowki, "Wybierz", new { @class = "form-control" })
               <br />
</div>
<div id="listaCennik">
     @Html.Action("ListaCennikDefault")
</div>
<script>
    $(document).ready(function () {
        $('#Placowki').change(function () {
            var gabinet = $(this).val();
            $.ajax({
                type: 'POST',
                url: '/Pacjent/ListaCennik',
                data: { gabinet: gabinet },
                success: function (data) {
                    $('#listaCennik').html(data);
                }
            })
        })
    })
</script>

