
@model Dental.Models.DodajWizyteModel
    <div>
        @Html.Label("Gabinet:")<br />             
                @Html.DropDownListFor(model => model.GabinetID, Model.ListaGabinetow, "Wybierz", new { @class = "form-control" })
               <br />
    </div>


