@model Dental.Models.LekarzeModel

<div>
        @Html.Label("Lekarz:")<br />             
                @Html.DropDownListFor(model => model.LekarzID, Model.ListaLekarzy, "Wybierz", new { @class = "form-control" })
               <br />
    </div>
